<h3>Board</h3>
<h4>@NmbOfCases</h4>

<div class="line">
    @for (int y = 0; y < 100; y++)
    {
        <div class="row">
            @for (int x = 0; x < BOARD_SIZE; x++)
            {
                Case cell = cases.First(c => c.X == x && c.Y == y);
                <CaseSecondVersion Case="cell" />
            }
        </div>
    }
</div>

@code {

    const int BOARD_SIZE = 10;
    const int NMB_MINES = 10;

    public List<Case> cases = new();
    private int NmbOfCases { get; set; }


    protected override void OnInitialized()
    {


        for (int i = 0; i < BOARD_SIZE; i++)
        {
            for (int j = 0; j < BOARD_SIZE; j++)
            {
                cases.Add(new Case(j, i));
            }
        }

        for (int i = 0; i < NMB_MINES; i++)
        {
            int x = Random.Shared.Next(BOARD_SIZE);
            int y = Random.Shared.Next(BOARD_SIZE);

            Case cell = cases.First(c => c.X == x && c.Y == y);
            cell.CaseState = State.Bomb;
        }

        foreach (Case cell in cases)
        {
            if (cell.CaseState != State.Bomb)
                cell.CaseState = (State)initState(cell);
        }

    }


    private int initState(Case cell)
    {
        int BombAround = cases.Where(c =>
            (Math.Abs(c.X - cell.X) < 2) &&
            (Math.Abs(c.Y - cell.Y) < 2) &&
            !(c.X == cell.X && c.Y == cell.Y) &&
            c.CaseState == State.Bomb
        ).Count();


        NmbOfCases = cases.Where(c => c.IsHidden).Count();
        return BombAround;
    }


}
