@inject NavigationManager _nav

<div class="dinoCard" @onclick="() => handleClick(Dino.DinoID)">
    <h3>@(Dino.Spece == "" ? "???": Dino.Spece)</h3>
    <p>Weight: @Dino.Weight kg</p>
    <p>Size: @Dino.Size cm</p>
</div>


@code {
    [Parameter]
    public Dino Dino { get; set; }

    private void handleClick(int id)
    {
        _nav.NavigateTo($"dino/details/{id}");
    }
}
